.reserve-modal{
  background: #fff;
  left: 50%;
  padding: 30px 60px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  &__title{
    text-align: center;
    background: #333333;
    padding: 10px;
    @include string_set(18px, bold, #FFFFFF);
  }
  &__form{
    width: 80%;
    margin: 20px auto;
    &__datetime{
      display: flex;
      font-size: 18px;
      line-height: 40px;
      &__title{
        font-size: 18px;
      }
      &--date{
        width: 150px;
        height: 30px;
        margin-right: 10px;
      }
      &--time{
        margin: 0 5px;
      }
      .year{
        border: 1px solid;
        height: 40px;
        width: 80px;
        margin-right: 5px;
        cursor: pointer;
      }
       .month,.day{
        border: 1px solid;
        height: 40px;
        width: 60px;
        margin: 0 5px ;
        cursor: pointer;
      }
    }
    .reserve-date-error-msg{
      padding: 5px;
      @include string_set(12px, normal, red);
    }
    &__fee{
      font-size: 18px;
      margin-top: 10px;
      display: flex;
    }
    &__btn{
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      &__back{
        width: 200px;
        text-align: center;
        background: #FFFFFF;
        color: #333333;
        padding: 5px 0;
        border-radius: 5px;
        cursor: pointer;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
        &:hover{
          opacity: 0.8;
        }
      }
      &__move{
        input{
          display: block;
          text-decoration: none;
          color: #FFFFFF;
          width: 200px;
          text-align: center;
          background: red;
          padding: 5px 0;
          border-radius: 5px;
          cursor: pointer;
          filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
        }
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
}