.reserve-show-page{
  .reserve{
    &__title{
      border-bottom: 2px solid;
    }
    &__form{
      margin: 20px;
      &__datetime{
        display: flex;
        font-size: 18px;
        &__title{
          font-size: 18px;
        }
        &--date{
          width: 150px;
          height: 30px;
          margin-right: 10px;
          
        }
        &--time{
          margin: 0 5px;
        }
      }
      &__fee{
        font-size: 18px;
        margin-top: 10px;
        display: flex;
      }
      &__button{
        margin-top: 10px; 
      }
    }
  }
}