.studio-show-page{
  .studio{
    margin: 50px auto;
    &__name{
      border-bottom: 3px solid #333333;
    }
    &__info{
      display: flex;
      &__img{
        width: 300px;
        height: 150px;
        margin: 30px 60px 0;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
      }
      &__explain{
        margin: 30px;
        &__intro{
          font-size: 16px;
          margin-bottom: 20px;
        }
        &__inst{
          font-size: 12px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .reserve{
    margin: 50px auto;
    
    &__title{
      border-bottom: 2px solid;
      padding-bottom: 10px;
    }
  
    &__table{
      margin: 20px auto;
      width: 80%;
      color: white;
      font-size: 14px;
      &--date{
        background-color: #333333;
      }
      &--time{
        background-color: #333333;
        text-align: right;
        padding-right: 5px;
        width: 60px;
      }
      &--possible{
        background-color: white;
        text-align: center;
        cursor: pointer;
        a{
          display: inline-block;
          width: 100%;
        }
        &:hover{
          background: #333333;
          transition: 0.3s;
          opacity: 0.8;
        }
      }
      &--impossible{
        background-color: lightgray;
        text-align: center;
      }
    }
    table{
      border: solid 1px #333333;
      width: 80%;
    }
    th{
      text-align: center;
      border: solid 1px #333333;
    }
    tr{
      border: dotted 1px #333333;
    }
    td{
      border: dotted 1px #333333;
      width: 40px;
      height: 30px;
    }
  }
}