.top-page
  .top-image-container
    = image_tag("/studio_img/top_image.png", class: "top-image")
    .top-image-container__studio-name
      XXXXstudio
  .main-container
    .studio-list
      .studio-list__title.main-title
        スタジオ一覧
      %ul.studio-list__studios
        - 4.times do |i|
          %li.studio
            = link_to image_tag("/studio_img/top_image.png", { border: '0', class: 'studio__image'}), root_path
            .studio__name.sub-title
              = "studioA#{i}"
            .studio__details.default-string
              .studio__details__size
                10畳
              .studio__details__inst
                %div
                  %b GuitarAmp:
                  仮置き
                %div
                  %b BassAmp:
                  仮置き
                %div
                  %b Drums:
                  仮置き
                %div
                  %b Keybords:
                  仮置き
