.modal.js-session-modal
  .modal-back.session-cancel-back
  .session-cancel-modal
    .session-cancel-modal__msg
      .session-cancel-modal__msg__main
      .session-cancel-modal__msg__sub
    .session-cancel-modal__btn
      .session-cancel-modal__btn__back.session-cancel-back
        戻る
      .session-cancel-modal__btn__move