.modal.js-modal
  .modal-back.session-correct
  .session-confirm-modal
    .session-confirm-modal__main.main-title
      セッション内容確認
    .session-confirm-modal__title
      セッション名
    .session-confirm-modal__value#modal-title
    .session-confirm-modal__title
      説明
    .session-confirm-modal__value#modal-explain
    .session-confirm-modal__title
      利用スタジオ
    .session-confirm-modal__value#modal-studio
    .session-confirm-modal__title
      開催日時
    .session-confirm-modal__value#modal-hold-date
    .error-messages#modal-hold-date-msg
    .session-confirm-modal__title
      曲数上限
    .session-confirm-modal__value#modal-max-music
    .session-confirm-modal__title
      参加費
    .session-confirm-modal__value#modal-entry-fee
    .session-confirm-modal__operate
      .session-correct
        訂正する
      #session-done
        登録する
