.main-container
  .inner-container-wide
    .sessions-index
      .sessions-index__title
        .sessions-index__title__name.main-title
          開催セッション一覧
        .sessions-index__title__operate
          - if user_signed_in?
            = link_to "セッションを開く", new_music_session_path, class: "oparate-btn-blue"
      = render partial: "sessions", locals: { sessions: @sessions }
    .side-bar
      = render partial: "search"
