.top-page{
  .top-image-container{
    width: 100%;
    position: relative;
    .top-studio-name{
      position: absolute;
      @include string_set(80px, bold, $string_color);
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    .top-image{
      width: 100%;
      height: 800px;
      vertical-align: bottom;
      filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
      background-color: rgba(0,0,0,0.6);
      opacity: 0.6;
    }
    .top-image-scroll{
      position: absolute;
      @include string_set(20px, bold, $base_color);
      top: 80%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      justify-content: space-around;
      li{
        margin-left: 30px;
        cursor: pointer;
        border-radius: 30px;
        background-color: #333333;
        padding: 10px 20px;
        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
  .main-container{
    .app-explain{
      &__title{
        border-bottom: 2px solid #333333;
      }
      &__contents{
        margin: 40px 0;
        li{
          margin-top: 20px;
          .function-explain{
            @include string_set(14px, normal, #333333);
            padding: 10px 40px;
          }
        }
      }
    }
    .studio-list{
      &__title{
        border-bottom: 2px solid #333333;
      }
      &__studios{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        .studio{
          margin: 20px 0;
          width: 400px;
          height: 200px;
          position: relative;
          &__image{
            position: absolute;
            width: 100%;
            height: 100%;
            filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
          }
          &__bg{
            position: absolute;
            position: relative;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.6);
            &__name{
              position: absolute;
              bottom: 30px;
              right: 10px;
              color: #FFFFFF;
            }
            &__size{
              position: absolute;
              bottom: 10px;
              right: 10px;
              color: #FFFFFF;
            }
          }
          &__bg:hover{
            background-color: rgba(0,0,0,0.0);
            transition: 0.2s;
          }
        }
      }
    }
  }
}
