.main-container{
  margin: 0 auto;
  // width: 1020px;
  height: calc(100vh - 200px);
  background: #cec9c9;
  padding: 100px 40px;
}

.inner-container{
  width: 70%;
  margin: 0 auto;
}

.main-title{
  @include string_set(32px, bold, #333333);
}

.sub-title{
  @include string_set(24px, bold, #333333);
}

.default-string{
  @include string_set(16px, normal, #333333);
}