.footer{
  width: 100%;
  background: #333333;
  &__bottom{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 50px 0 10px 0;
    &__copy-write{
      @include string_set(14px, normal, #FFFFFF);
    }
    &__sns-links{
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translate(-50%,-50%);
      right: 20px;
      i{
        font-size: 40px;
        color: #FFFFFF;
        margin: 10px;
      }
    }
  }
}