.header{
  opacity: 0.8;
  width: 100%;
  height: 70px;
  background-color: white;
  position: fixed;
  z-index: 99;
  &__title{
    padding: 10px;
    padding-left: 100px;
    float: left;
    a{
      @include link_design_none;
    }
  }
  .header-menus{
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
    line-height: 70px;
    &__menu{
      a{
        display: block;
        padding: 0 20px;
        width: 100px;
        text-align: center;
        font-size: 12px;
        @include link_design_none;
      }
      .sub-menus{
        display: none;
        position: absolute;
        background-color: lightseagreen;
        &__menu{
          border-top: 1px solid #eee;
        }
        &__menu:hover{
          background-color: lightgreen;
          transition: 0.2s;
        }
      }
      &:hover{
        background-color: lightseagreen;
        transition: 0.3s;
      }
    }
  }
}