.search-box
  .session-search-form
    - if user_signed_in?
      - if current_user.id == @user.id
        .mypage__profile__links__link
          = link_to "スタジオ予約状況", user_reserves_path
        .mypage__profile__links__link
          = link_to "メッセージ一覧", user_chatrooms_path(current_user)
        .mypage__profile__links__link
          = link_to "ユーザ情報編集", edit_user_path(current_user)
      - else
        .mypage__profile__links__link
          = link_to "メッセージを送る", room_judge_user_chatrooms_path(@user)