%footer.footer
  .footer__bottom
    .footer__bottom__copy-write
      &copy 2020 STUDIO Hummingbird reserved App.
    .footer__bottom__sns-links
      = link_to "https://github.com/yuya-yamaguchi/studio_reserve_app", target: ["_blank"] do
        = icon 'fab', 'github-square'
      
