@mixin string_set($font_size, $font_weight, $color){
  font-size: $font_size;
  font-weight: $font_weight;
  color: $color;
}

@mixin link_design_none{
  text-decoration: none;
  color: #333333;
}

@mixin post_type_icon($background_color){
  border-radius: 100%;
  padding: 10px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  @include string_set(14px, bold, #FFFFFF);
  background: $background_color;
}