// entry_musics/show,edit 共用
.entry_musics-show{
  width: 70%;
  &__sub-title{
    width: 90%;
    border-bottom: 2px solid;
    margin: 40px auto 10px;
    display: flex;
    justify-content: space-between;
    &__operate{
      display: flex;
      justify-content: flex-end;
      height: 30px;
    }
  }
  &__info{
    width: 90%;
    margin: 10px auto;
    padding: 30px 10px;
    box-sizing: border-box;
    display: block;
    box-shadow: 2px 2px 4px gray;
    th{
      width: 24%;
      height: 40px;
      border-bottom: 1px solid;
      padding: 5px;
    }
    td{
      width: 76%;
      border-bottom: 1px solid;
      padding: 5px;
    }
  }
  &__btn{
    margin: 20px auto;
  }
}