.devise-registrations-new{
  box-shadow: 2px 2px 4px gray;
  padding: 50px;
  &__title{
    display: flex;
    justify-content: space-between;
  }
  .field{
    padding: 10px 50px;
    &__name{
      display: inline-block;
      margin-bottom: 5px;
    }
  }
  .actions{
    margin: 10px auto;
    input{
      display: block;
      margin: 0 auto;
    }
  }
}