.modal.js-reserve-modal
  .modal-back.reserve-cancel-back
  .reserve-cancel-modal
    .reserve-cancel-modal__msg
    .reserve-cancel-modal__btn
      .reserve-cancel-modal__btn__back.reserve-cancel-back
        戻る
      .reserve-cancel-modal__btn__move