.user_reserve-index-page
  .main-container
    .inner-container
      .user-reserve
        .user-reserve__title.main-title
          スタジオ予約状況
        = render partial: "user_reserves", locals: { user_reserves: @user_reserves }
= render partial: "cancel_modal"