.modal.js-post-del-modal
  .modal-back.post-del-back
  .post-del-modal
    .post-del-modal__msg
      この投稿を削除します。本当によろしいですか？
    .post-del-modal__btn
      .post-del-modal__btn__back.post-del-back
        戻る
      .post-del-modal__btn__move
        