.posts-index-page
  .main-container
    .inner-container
      .board
        .board__title
          .board__title__name.main-title
            投稿一覧
          .board__title__operate
            = link_to "新規投稿", new_post_path, class: "oparate-btn-blue"
        .board__posts
          = render partial: "post", locals: { posts: @posts }
