.posts-new-page
  .main-container
    .inner-container
      .posts-new.main-title
        .posts-new__title.main-title
          新規投稿 
        .posts-new__form
          = render 'form', { post: @post }