.main-container
  .inner-container
    .post-show
      .post-show__title.main-title
        投稿の内容
      .post-show__details
        .sub-title
          投稿者
        .post-show__details__value
          = @post.user.nickname
        .sub-title
          タイトル
        .post-show__details__value
          = @post.title
        .sub-title
          内容
        .post-show__details__value
          = @post.contents
        = link_to "編集", edit_post_path(@post.id), class: "edit-btn-default"