.error1{
  background-color: rgb(245, 132, 132);
  padding: 20px;
  &__message{
    @include string_set(20px, bold,  #333333);
    text-align: center;
  }
  &__contact-info{
    
  }
  button{
    text-align: right;
  }
}