.mypage{
  width: 70%;
  &__profile{
    margin: 0 auto;
    &__title{
      border-bottom: 2px solid;
    }
    &__top{
      display: flex;
      justify-content: space-between;
      margin: 30px;
      &__left{
        &__image{
          width: 200px;
          border-radius: 3px;
          filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.6));
        }
      }
      &__right{

      }
    }
    &__name{
      margin: 0 30px;
      font-size: 24px;
    }
    &__self-introduction{
      margin: 0 60px;
      font-size: 12px;
    }
    &__links{
      position: absolute;
      bottom: 30px;
      right: 50px;
      width: 140px;
      height: 140px;
      font-size: 14px;
      &__link{
        height: 30px;
        width: 140px;
        line-height: 30px;
        text-align: center;
        background-color: white;
        border: 1px solid gray;
        border-radius: 3px;
        a{
          display: block;
          @include link_design_none;
        }
        :hover{
          background-color: lightseagreen;
          opacity: 0.8;
          transition: 0.2s ;
        }
      }
    }
  }
  &__reserves{
    margin-top: 100px;
    &__title{
      border-bottom: 2px solid;
    }
    &__more-reserves{
      display: block;
      width: 90%;
      padding: 10px 0;
      margin: 0 auto;
      @include string_set(20px, bold, #888888);
      text-align: center;
      &:hover{
        opacity: 0.8;
      }
    }
  }
  &__sessions{
    margin-top: 100px;
    &__title{
      border-bottom: 2px solid;
    }
  }
  &__posts{
    margin-top: 100px;
    &__title{
      border-bottom: 2px solid;
    }
  }
}
