.mypage{
  width: 70%;
  &__profile{
    margin: 0 auto;
    box-shadow: 2px 2px 4px gray;
    padding: 10px 10px 30px 10px;
    &__title{
      border-bottom: 2px solid;
    }
    &__top{
      display: flex;
      justify-content: space-between;
      margin: 30px;
      &__left{
        &__image{
          width: 200px;
          border-radius: 3px;
          filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.6));
        }
        &__name{
          margin-left: 20px;
          font-size: 24px;
        }
    
      }
      &__right{
        position: relative;
        &__entry-part-cnt{
          position: absolute;
          left: calc(50% - 18px);
          top: 95px;
          @include string_set(50px, bold, #333333);
        }
      }
    }
    &__self-introduction{
      margin: 0 60px;
      font-size: 12px;
    }
  }
  &__tabs{
    margin: 10px 0 100px 0;
    &__header{
      display: flex;
      text-align: center;
      cursor: pointer;
      &__tab{
        display: block;
        width: 50%;
        line-height: 72px;
        background-color: #dddcdc;
        @include string-set(16ox, bold, #333333);
        border-radius: 0 10px 0 0;
        box-shadow: 2px 2px 4px gray;
        &:hover{
          opacity: 0.8;
        }
      }
    }
    &__contents{
      display: none;
    }
  }
}
.more-reserves-link{
  display: block;
  width: 90%;
  padding: 10px 0;
  margin: 0 auto;
  @include string_set(20px, bold, #888888);
  text-align: center;
  &:hover{
    opacity: 0.8;
  }
}
.active{
  background-color: $base-color;
}
.active-contents{
  display: block;
}