.posts-index-page{
  .board{
    position: relative;
    &__title{
      border-bottom: 2px solid;
    }
    &__posts{
      width: 90%;
      margin: 20px auto;
      padding-top: 10px;
      background-color: lightgray;
      
      &__link{
        font-size: 20px;
        text-align: center;
      }
    }
    &__new-post{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}