.main-container
  .inner-container
    .error1
      .error1__message
        システムエラーが発生しました。
      .contact-info
        お問い合わせ先：nsy1023n@gmail.com
      %button{ type: "button", onclick: "history.back()" }
        前画面に戻る
